.gigCard {
  width: 324px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(212, 208, 208);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .info {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    .user {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;

      img {
        width: 26px;
        height: 26px;
        border-radius: 50%;
      }

      .star {
        display: flex;
        align-items: center;
        gap: 5px;

        img {
          width: 14px;
          height: 14px;
        }

        span {
          font-size: 14px;
          font-weight: bold;
          color: #ffc105f8;
        }
      }
    }

    p {
      color: #111;
      &:hover {
        color: rgb(0, 166, 255) !important;
      }
    }
  }

  .investList {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
      font-size: 12px;
    }

    p {
      width: 100%;
      margin-left: 20px;
      // color: blue;
      font-weight: 600;
      cursor: pointer;
    }

    span {
      font-size: 14px;
      font-weight: 500;
      h3:hover {
        color: blue;
      }
    }
  }

  hr {
    height: 0;
    border: 1px solid lightgray;
  }

  .details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    .iconAndDate {
      display: flex;
      align-items: center;
      flex-direction: column;

      .heartIcon {
        width: 16px;
        height: 16px;
        cursor: pointer;
      }

      span {
        font-weight: 200;
        font-size: 12px;
      }
    }

    .dateLimit {
      display: flex;
      flex-direction: column;
      gap: 5px;
      span {
        font-size: 12px;
      }
    }

    .startPrice {
      text-align: center;

      span {
        font-size: 12px;
        font-weight: 500;
      }
    }
  }
}
