.login {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  padding: 2rem 0;

  form {
    width: 360px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    h1 {
      color: gray;
      margin-bottom: 20px;
    }

    label {
      color: gray;
      font-size: 18px;
    }

    input,
    textarea {
      padding: 20px;
      border: 1px solid rgb(216, 214, 214);
    }

    button {
      border: none;
      padding: 20px;
      color: white;
      font-weight: 500;
      font-size: 18px;
      background-color: #1dbf73;
      cursor: pointer;
    }

    .registerForm {
      display: flex;
      justify-content: center;
      padding: 10px;
      gap: 20px;

      p {
        font-weight: 500;
      }

      span {
        color: blue;
        font-weight: 600;
        font-size: 16px;
      }
    }

    span {
      color: red;
      font-size: 12px;
    }
  }
}
