.user-container {
  display: flex;
  flex-direction: column;
  padding: 1rem 4rem;
  min-height: 50vh;

  .headlist {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid lightgray;

    h2 {
      padding: 1rem 0;
      font-weight: 500;
      font-size: 26px;
    }
    .activelist {
      border: 0.5px solid lightblue;
      padding: 0.5rem;
      border-radius: 5px;

      span {
        font-size: 1rem;
        font-weight: 500;
        color: rgb(5, 133, 43);
      }
    }
  }

  .userlists {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    gap: 2rem;
    align-items: center;

    img {
      width: 5rem;
      height: 5rem;
      object-fit: cover;
      border-radius: 10%;
    }
  }
}
